@font-face {
  font-family: 'Amatic SC', cursive;
  src: url(https://fonts.googleapis.com/css?family=Amatic+SC&display=swap);
}

.card-img {
  height: 250px;
  object-fit: cover;
  width: 286px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-img {
    background-image: url(./components/wynwood.jpeg);
    display: flex; 
    position: absolute;
    top:0;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    overflow: hidden;  
    color: white;
    z-index: -10;
}

.eat {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    padding: 20px; 
    position: absolute;
    width: 180px;
    top: 40%;
    left: 45%;
    color: white;
    transition: 1s ease-in-out;
    border: 1px solid black;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 80px;
    color: white;
    letter-spacing: 10px;
    align-items: flex;
} 

.menu-buttons{
    justify-content: center;
    
} 

.menu-buttons a {
     color:white; 
}

#header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 115px;
}

.menu-buttons {
    display: flex;
    margin: 0;
    padding-right: 50px;
}

a:hover {
text-decoration: none;
}

#root  {
width: 100%;
}

.mainNav {
    color: white;
}

.find-form{

    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .search-button{
  
  margin-left: 20px;
  
  }
  
  
  .find-input{
  
  height: 46px;
  width: 300px
  
  }

  .search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  
  }

  .detail-button{

    margin-right: 20px;
  }